
@{
    ViewData["Title"] = "查看课程详细";
}

@model Entity.CourseEntity;

<div class="page-title">
    <div class="title_left">
        <h3>查看课程详细</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div id="example" class="x_content">
                <br>
                <form asp-action="Create" id="demo-form2" class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            ID <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" value="@Model.courseId" disabled class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            标题 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" value="@Model.title" disabled class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            价格(保留两位小数) <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" value="@Model.price" disabled class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            课程分类 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" value="@Model.courseTypeId" disabled class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            课程视频 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">

                                        <div class="bs-example" data-example-id="simple-jumbotron">
                                            <video controls="controls" style="width:100%">
                                                <source src="@Model.videoUrl" type="video/mp4" />
                                                <source src="@Model.videoUrl" type="video/webm" />
                                                <source src="@Model.videoUrl" type="video/ogg" />
                                            </video>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            课程封面视频 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">

                                        <div class="bs-example" data-example-id="simple-jumbotron">
                                            <video controls="controls" style="width:100%">
                                                <source src="@Model.coverVideo" type="video/mp4" />
                                                <source src="@Model.coverVideo" type="video/webm" />
                                                <source src="@Model.coverVideo" type="video/ogg" />
                                            </video>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            封面图片
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label col-md-7 col-xs-12"></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">

                                    <div style="text-align: center; margin-bottom: 17px">
                                        <img style="width:100%" src="@Model.coverImage" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            课程介绍 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="describe">
                                @Html.Raw(Model.describe)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            教师介绍 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="teacherDescribe">
                                @Html.Raw(Model.teacherDescribe)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            提示 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="tips">
                                @Html.Raw(Model.tips)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            是否删除 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" value="@( Model.isDel ? "是" : "否")" disabled class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            创建日期 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" value="@Model.createDate" disabled class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            修改日期 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" value="@Model.modifyDate" disabled class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a asp-action="List" class="btn btn-info">返回列表</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/wangEditor.js"></script>
<script type="text/javascript">
    //
    $("#liCourseList").addClass("current-page");
    $("#ulCourse").show();

    var E = window.wangEditor


    var describeEditor = new E('#describe')
    // 隐藏“网络图片”tab
    describeEditor.customConfig.showLinkImg = false
    describeEditor.create()
    describeEditor.$textElem.attr('contenteditable', false)

    var teacherDescribeEditor = new E('#teacherDescribe')
    // 隐藏“网络图片”tab
    teacherDescribeEditor.customConfig.showLinkImg = false
    teacherDescribeEditor.create()
    teacherDescribeEditor.$textElem.attr('contenteditable', false)

    var tipsEditor = new E('#tips')
    // 隐藏“网络图片”tab
    tipsEditor.customConfig.showLinkImg = false
    tipsEditor.create()
    tipsEditor.$textElem.attr('contenteditable', false)
</script>

